<div fxLayout="row" fxLayoutAlign="center" style="padding: 10px;" >
    <mat-card fxFlex="70" style="background:#ffffff">
      <div fxLayout="row">
        <div fxFlex="5" class="action-blurb" fxFlexOffset="2"></div>
        <div fxFlex="60" class="action-blurb" fxFlexOffset="5">
            <mat-card-content class="example-header-image">
                <div style="color:black">
                    <h2>Welcome to MerchantsBox</h2>
                </div>
                <div style="color: #1d2129;font-size: 22px;font-weight:400;margin: 0 0 22px;">
                    The new version is here, at a glance
                </div>
                <div class ="common_style">
                    1.A powerful GUI Rotator
                </div>
                <div class ="common_style">
                    2.A highly improved Configuration Manager
                </div>
                <div class ="common_style">
                    3.An Extension based architecture
                </div>
                               
            </mat-card-content>
        </div>
        <div fxFlex="5" class="action-blurb" fxFlexOffset="2"></div>
      </div>
  </mat-card>
  </div> 