<div fxLayout="row" fxLayoutAlign="center" >
        <mat-card fxFlex="90" >
                <div align="right">
                        <a _ngcontent-jle-c224="" routerLink="/products" mat-fab="" style="background:#2196f3" class="mat-fab mat-button-base mat-warn">
                            <i class="material-icons dp48">arrow_back</i>
                          <div matripple="" class="mat-button-ripple mat-ripple mat-button-ripple-round">
                          </div><div class="mat-button-focus-overlay"></div>
                        </a>
                </div>
          <div fxLayout="row">
            <div fxFlex="5" class="action-blurb" fxFlexOffset="2" ></div>
            <div fxFlex="80" class="action-blurb" fxFlexOffset="5">
                    <div align="center">
                            <mat-card-header>
                                <mat-card-title>Product-Add</mat-card-title>
                            </mat-card-header>
                    </div>
                    <div class="example-container" align="center"  > 
                        <form  class="form" [formGroup]="productForm" (ngSubmit)="productForm.valid && onProductFormSubmit()"  novalidate>                          
                            <div align="center">
                                <mat-form-field class="form-element">
                                    <input matInput required formControlName="product_name"  [(ngModel)] = "user.product_name" placeholder="Product Name"/>
                                </mat-form-field>
                            </div>
                            <div align="center">
                                <mat-form-field class="form-element">
                                    <input matInput required formControlName="product_id"  [(ngModel)] = "user.product_id" placeholder="Product Id"/>
                                </mat-form-field>
                            </div>
                            
                            
                            <div align="center">
                                <mat-form-field class="form-element">
                                        <!-- <input matInput required formControlName="product_desc"  [(ngModel)] = "user.product_desc" placeholder="Product Id"/> -->
                                         <textarea  matInput formControlName="product_desc" [(ngModel)] = "user.product_desc" placeholder="Product Descriptions"></textarea>
                                </mat-form-field>
                            </div>
                            
                            
                            <div align="left">
                                    <mat-radio-group formControlName="product_status"  [(ngModel)] = "user.product_status">  
                                            <mat-radio-button value="1">Active</mat-radio-button>  
                                            <mat-radio-button value="2">In-Active</mat-radio-button>  
                                    </mat-radio-group> 
                                
                            </div>                          
                            <button mat-raised-button type="submit" [disabled] = "!productForm.valid"  color= "primary" class="button" >Submit Form</button>                           
                        </form>
                    </div>
            </div>
              <div fxFlex="5" class="action-blurb" fxFlexOffset="2"></div>
          </div>
      </mat-card>
      </div> 