<!-- <div>
    <mat-grid-list cols="3" [style.background]="'white'">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
            <mat-card >
                <div align = "left">
                    <small>Authentication Required</small>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

                <div>
                    <form  class="form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()"  novalidate>
                        <div class="example-container" align="center">
                                <div *ngIf="showErrorMessage">
                                        <h1>Invalid username and password Please try again</h1>
                                </div>
                                    <div align="center">
                                        <mat-form-field class="form-element">
                                            <input matInput required formControlName="username" [(ngModel)] = "login.username" placeholder="User Name"/>
                                        </mat-form-field>
                                    </div>
                                    <div align="center">
                                        <mat-form-field class="form-element">
                                            <input type="password" matInput required formControlName="password" [(ngModel)] = "login.password" placeholder="Password"/>
                                        </mat-form-field>
                                    </div>
                                <button mat-raised-button type="submit" [disabled] = "!loginForm.valid"  color= "primary" class="button" >Submit</button>
                                <button mat-raised-button type="submit"  routerLink="/" color= "primary">Cancel</button>

                        </div>
                    </form>

                </div>
            </mat-card>
            </mat-grid-tile>

            <mat-grid-tile> </mat-grid-tile>
    </mat-grid-list>

</div> -->


<div class="login-container">
    <mat-card [ngClass]="{'inc-height': error}" #loginform>
        <mat-card-title>Merchants-Box</mat-card-title>
        <mat-card-content>
            <form class="form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" autocomplete="off" novalidate>
                <p>
                    <mat-form-field>
                        <input matInput required autocomplete="off" formControlName="username" [(ngModel)]="login.username" placeholder="User Name" />
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" autocomplete="off" matInput required formControlName="password" [(ngModel)]="login.password" placeholder="Password" />
                    </mat-form-field>
                </p>

                <p *ngIf="error" class="error">
                    {{error}}
                </p>

                <div class="button">

                    <button class="btn btn-primary" type="submit" [disabled]="submitted">
                      <span *ngIf="!submitted else load">
                        Login
                      </span>
                      <ng-template #load>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                      </ng-template>

                    </button>

                </div>

            </form>
        </mat-card-content>
    </mat-card>

</div>
