<div fxLayout="row" fxLayoutAlign="center">

    <mat-card class="matcard" fxFlex="90">
        <div align="right" class="header">
            <a _ngcontent-jle-c224="" (click)="openDialog()" mat-fab="" style="background:#2196f3" class="mat-fab mat-button-base mat-primary">
                <i class="material-icons ng-scope"></i>
                <div matripple="" class="mat-button-ripple mat-ripple mat-button-ripple-round">
                </div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" class="content">
            <div fxFlex="80" class="action-blurb ">

                <div>
                    <mat-card-header>
                        <mat-card-title>CRM Api-List</mat-card-title>
                    </mat-card-header>
                </div>

                <div class="mat-elevation-z6">
                    <mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="sortData($event)">
                        <ng-container matColumnDef="crm_label">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Api Label</mat-header-cell>
                            <mat-cell *matCellDef="let crm"> {{crm.crm_label}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="crm_apiType">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Api Type</mat-header-cell>
                            <mat-cell *matCellDef="let crm"> {{api[crm.crm_apiType]}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="crm_apiUsername">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Api Username </mat-header-cell>
                            <mat-cell *matCellDef="let crm"> {{crm.crm_apiUsername}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="crm_apiEndpoint">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Api Endpoint </mat-header-cell>
                            <mat-cell *matCellDef="let crm"> {{crm.crm_apiEndpoint}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="crm_apiPassword">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Api Password </mat-header-cell>
                            <mat-cell *matCellDef="let crm"> {{crm.crm_apiPassword}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="active">
                            <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                            <mat-cell *matCellDef="let crm">
                                <mat-slide-toggle [checked]="true" class="mat-primary" (change)="activateApi($event,crm)"> </mat-slide-toggle>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                            <mat-cell *matCellDef="let crm">
                                <button mat-icon-button (click)="editCrm(crm)"><mat-icon>launch</mat-icon></button>
                                <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
                            </mat-cell>
                        </ng-container>

                        <!-- <ng-container matColumnDef="loading">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    <mat-progress-spinner [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                </mat-footer-cell>
                            </ng-container> -->
                        <ng-container matColumnDef="noData">
                            <mat-footer-cell *matFooterCellDef colspan="6">
                                No data Avaliable
                            </mat-footer-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row> -->
                        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': array.length!=0 }"></mat-footer-row>
                    </mat-table>
                    <mat-paginator class="mat-paginator-sticky" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>

    </mat-card>

</div>
<!-- <ng-template #noData>
    <div id="content">
        No Data Added
    </div>
</ng-template> -->
<app-loader [show]="isLoading" [overlay]="overlay"></app-loader>
